// Use .bi class to align SVG icons
.bi {
	display: inline-block;
	fill: currentColor;
	height: 1.4em;
	width: 1.4em;
	vertical-align: middle;
	position: relative;
	top: -0.0625em;
	text-align: center;
	stroke-width: 0;
	overflow: visible;
}

.bi path {
	stroke: currentColor;
}

// remove fill color
.bi-none {
	fill: none;
}

// Wordpress Loop Container Styles
.loop-container {
	column-count: 1;
	column-gap: 0.75rem;

	article {
		break-inside: avoid;
		padding-top: 0.3rem;
		padding-bottom: 0.45rem;
	}
}

@media (min-width: 576px) {
	.loop-container {
		column-count: 2;
	}
}

@media (min-width: 768px) {
	.loop-container {
		column-count: 3;
	}
}
